<main class="main-container">
  <h1 class="page-title">Manage Orders</h1>
  <% if (orders.length > 0) { %>
    <div class="orders-container">
      <% orders.forEach(order => { %>
        <div class="order-card">
          <div><strong>Order ID:</strong> <%= order.id %></div>
          <div><strong>User ID:</strong> <%= order.user_id %></div>
          <div><strong>Product Name:</strong> <%= order.product_name %></div>
          <div><strong>Quantity:</strong> <%= order.quantity %></div>
          <div><strong>Total Price:</strong> Ksh. <%= parseFloat(order.total_price).toFixed(2) %></div>
          <div><strong>Delivery Address:</strong> <%= order.delivery_address %></div>
	  <div data-status><strong>Status:</strong> <%= order.status %></div>
          <div><strong>Delivery Date:</strong> <%= order.delivery_date %></div>
          <div><strong>Created At:</strong> <%= new Date(order.created_at).toLocaleString() %></div>
	  <form action="/admin/orders/update-status/<%= order.order_id %>" method="POST" class="update-status-form">
            <label for="status_<%= order.id %>">Update Status:</label>
            <select name="status" id="status_<%= order.id %>">
              <option value="pending" <%= order.status === 'pending' ? 'selected' : '' %>>Pending</option>
              <option value="processing" <%= order.status === 'processing' ? 'selected' : '' %>>Processing</option>
              <option value="shipped" <%= order.status === 'shipped' ? 'selected' : '' %>>Shipped</option>
              <option value="delivered" <%= order.status === 'delivered' ? 'selected' : '' %>>Delivered</option>
            </select>
            <button type="submit" class="update-button">Update</button>
          </form>

	  <!-- Delete Order Form -->
	  <form action="/admin/orders/delete/<%= order.id %>" method="POST">
              <button data-id="<%= order.id %>" class="delete-order-btn">Delete Order</button>
          </form>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p class="no-orders-message">No orders found.</p>
  <% } %>
</main>
<script src="/js/admin-ordersClient.js"></script>
